.cupid-x-samantha-maybe {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1544px;
  overflow: hidden;
  padding: 35px 0;
  position: relative;
  width: 414px;
}

.overlap-group11-1 {
  height: 823px;
  margin-left: 23.0px;
  margin-top: 17px;
  position: relative;
  width: 357px;
}

.overlap-group1-24 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  left: 0;
  min-width: 254px;
  padding: 19px 17px;
  position: absolute;
  top: 0;
}

.sorry-sarah-hasnt-be-3,
.sorry-samantha-hasnt-1,
.name-8,
.she-decided-to-learn-more-about-you-2,
.she-seems-to-be-on-t {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  width: 219px;
}

.x8-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 823px;
  position: absolute;
  top: 0;
  width: 257px;
}

.overlap-group6-6 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  min-width: 254px;
  padding: 19px 17px;
}

.overlap-group-30 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  margin-top: 17px;
  min-width: 254px;
  padding: 19px 17px;
}

.overlap-group1-25 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  margin-top: 11px;
  min-width: 254px;
  padding: 19px 17px;
}

.overlap-group5-7 {
  align-items: flex-end;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 130px;
  justify-content: flex-end;
  margin-left: 1px;
  margin-top: 11px;
  min-width: 254px;
  padding: 1.2px 17px;
}

.it-seems-she-might-b {
  letter-spacing: 0;
  line-height: normal;
  min-height: 106px;
  width: 219px;
}

.overlap-group3-11 {
  height: 59px;
  margin-top: 208px;
  position: relative;
  width: 237px;
}

.bg-6,
.bg-7 {
  background-color: var(--zircon);
  border-radius: 18px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 127px;
}

.ill-get-it-done,
.x930-tonight {
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 219px;
}

.overlap-group4-9 {
  height: 59px;
  margin-top: 11px;
  position: relative;
  width: 237px;
}

.x12 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: 17px;
  margin-top: 13px;
  min-height: 74px;
  width: 127px;
}

.overlap-group8-5 {
  height: 55px;
  position: relative;
  width: 123px;
}

.bg-8 {
  background-color: var(--wisp-pink);
  border-radius: 18px;
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 123px;
}

.lets-do-it {
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  width: 82px;
}

.text-20 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  width: 53px;
}

.group-4-2 {
  align-items: flex-start;
  display: flex;
  height: 207px;
  margin-right: 61.0px;
  margin-top: 23px;
  min-width: 271px;
}

.overlap-group10-2 {
  align-items: center;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 207px;
  width: 269px;
}

.great-youre-taking {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 16px;
  min-height: 36px;
  width: 236px;
}

.map-4 {
  height: 145px;
  margin-left: 1.0px;
  width: 268px;
}

