.profile-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 83px;
  width: 416px;
}

.profile-picture-3 {
  background-image: url(/static/img/profile-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 40px;
  margin-right: 2.67px;
  width: 40px;
}

.cupid-ai-x-mark {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  margin-top: 8px;
  min-height: 27px;
  min-width: 142px;
}

.divider-1 {
  height: 1px;
  margin-right: 2.0px;
  margin-top: 7px;
  object-fit: cover;
  width: 414px;
}

.profile-1.profile-2 {
  margin-top: 6px;
}

