.cupid-x-samantha-yes {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1807px;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  width: 414px;
}

.overlap-group14 {
  height: 1574px;
  margin-left: 25.0px;
  margin-top: 17px;
  position: relative;
  width: 359px;
}

.x4-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  left: 156px;
  min-height: 60px;
  position: absolute;
  top: 434px;
  width: 201px;
}

.overlap-group1-10 {
  align-items: flex-start;
  background-color: var(--wisp-pink);
  border-radius: 18px;
  display: flex;
  height: 46px;
  min-width: 197px;
  padding: 10.6px 15.3px;
}

.x-at-9 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.text-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 3px;
  min-height: 11px;
  white-space: nowrap;
}

.overlap-group2-7 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  left: 0;
  min-width: 254px;
  padding: 19px 17px;
  position: absolute;
  top: 0;
}

.sorry-sarah-hasnt-be,
.sorry-sarah-hasnt-be-1,
.name-5,
.she-decided-to-learn-more-about-you,
.she-said-shes-inter {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  width: 219px;
}

.x8-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1574px;
  position: absolute;
  top: 0;
  width: 256px;
}

.overlap-group9-3 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  min-width: 254px;
  padding: 19px 17px;
}

.overlap-group-17 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  margin-top: 17px;
  min-width: 254px;
  padding: 19px 17px;
}

.overlap-group1-11 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  margin-top: 11px;
  min-width: 254px;
  padding: 19px 17px;
}

.overlap-group3-4 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-top: 17px;
  min-width: 254px;
  padding: 12.2px 17px;
}

.x4-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 301px;
  min-height: 863px;
  width: 253px;
}

.overlap-group7-4 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 52px;
  justify-content: flex-end;
  margin-left: 3px;
  min-width: 177px;
  padding: 15px 0;
}

.how-did-the-intro-go {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  width: 159px;
}

.overlap-group4-3 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 252px;
  justify-content: flex-end;
  margin-top: 128px;
  min-width: 240px;
  padding: 12px 3px;
}

.you-both-like-cars {
  letter-spacing: 0;
  line-height: normal;
  min-height: 72px;
  width: 219px;
}

.overlap-group5-3 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 66px;
  justify-content: flex-end;
  margin-left: 3px;
  margin-top: 133px;
  min-width: 240px;
  padding: 13px 17px;
}

.shes-confirmed-det {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  width: 205px;
}

.overlap-group6-2 {
  height: 60px;
  margin-left: 3px;
  margin-top: 14px;
  position: relative;
  width: 223px;
}

.bg-2 {
  background-color: var(--zircon);
  border-radius: 18px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 204px;
}

.how-was-the-big-day {
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  width: 205px;
}

.overlap-group8-3 {
  align-items: flex-end;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 3px;
  margin-top: 98px;
  min-width: 204px;
  padding: 20px 0;
}

.she-does-too-im-on-it {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  width: 186px;
}

.overlap-group12 {
  align-items: flex-end;
  background-color: var(--wisp-pink);
  border-radius: 18px;
  display: flex;
  height: 60px;
  left: 154px;
  min-width: 197px;
  padding: 8px 15px;
  position: absolute;
  top: 1432px;
}

.amazing-id-love-to-see-her-again {
  letter-spacing: 0;
  line-height: normal;
  min-height: 42px;
  width: 160px;
}

.map-1 {
  height: 165px;
  left: 3px;
  position: absolute;
  top: 978px;
  width: 240px;
}

.overlap-group13 {
  height: 153px;
  left: 0;
  position: absolute;
  top: 514px;
  width: 197px;
}

.overlap-group-18 {
  align-items: flex-start;
  background-color: var(--zircon-2);
  border-radius: 18px;
  display: flex;
  height: 130px;
  left: 0;
  min-width: 195px;
  padding: 11px 7px;
  position: absolute;
  top: 0;
}

.great-shell-join-th {
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  width: 169px;
}

.group-5 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  min-height: 102px;
  position: absolute;
  top: 51px;
  width: 197px;
}

.overlap-group1-12 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 79px;
  margin-right: 2px;
  min-width: 195px;
  padding: 12px 25px;
}

.overlap-group-19 {
  align-items: flex-start;
  background-color: var(--mountain-meadow);
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  min-width: 137px;
  padding: 0 17px;
}

.join-now {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 10px;
  font-weight: 500;
  height: 34px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 87px;
}

.text-13 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2px;
  min-height: 18px;
  min-width: 33px;
  text-align: right;
}

.ar-1 {
  height: 30px;
  left: 28px;
  position: absolute;
  top: 65px;
  width: 30px;
}

.group-1897 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 25px;
  justify-content: flex-end;
  left: 112px;
  min-width: 83px;
  padding: 2px 2.3px;
  position: absolute;
  top: 105px;
}

.bg-3 {
  background-color: #4ddba0;
  border-radius: 73px;
  height: 5px;
  width: 5px;
}

